<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit a scale
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Scale</h2>
  <div>
    <ion-label> Nom de la scale:
      <ion-input [(ngModel)] = "scale.name" placeholder="Infanterie ..."></ion-input>
    </ion-label><br>
    <ion-label> Prix de la peinture:
      <ion-input [(ngModel)] = "scale.paintPrice" placeholder="8 ..."></ion-input>
    </ion-label><br>
    <ion-label> Prix du montage:
      <ion-input [(ngModel)] = "scale.buildPrice" placeholder="2 ..."></ion-input>
    </ion-label>
    <ion-button (click)="editScale()">Ajouter</ion-button>
  </div>
</ion-content>